:root {
  --primaryColor: #22788d;
  --secondaryColor: #2e6d88;
  --thirdColor: #bb4040;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
html,
body {
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Rubik", sans-serif;
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  /* border: 0; */
  /* outline: 0; */
  /* font-size: 100%; */
  /* vertical-align: baseline; */
  /* background: transparent; */
}
/* img {
  height: 10%;
} */
